#mainNav .navbar-brand {
    font-weight: 700;
    text-transform: uppercase;
    color: forestgreen;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.fixed-top {
    background-color: black;
    color: white;
}

.userSigned{
    right: 5%;
    position: fixed;
}

.table-striped thead {
    background-color: black!important;
    color: white!important;
}

.table thead th {
    vertical-align: middle!important;
    text-align: center!important;
}

.table-striped a {
    color: white!important;
    text-decoration: none
}

#mainNav .navbar-brand:focus,
#mainNav .navbar-brand:hover {
    color: #2757d1
}

#mainNav .navbar-nav>li.nav-item>a.nav-link,
#mainNav .navbar-nav>li.nav-item>a.nav-link:focus {
    font-size: .9rem;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
}

#mainNav .navbar-nav>li.nav-item>a.nav-link:focus:hover,
#mainNav .navbar-nav>li.nav-item>a.nav-link:hover {
    color:  #2757d1!important;
}

#mainNav .navbar-nav>li.nav-item>a.nav-link.active,
#mainNav .navbar-nav>li.nav-item>a.nav-link:focus.active {
    color: #2757d1 !important;
}

#mainNav .navbar-nav>li.nav-item>a.nav-link.active:hover,
#mainNav .navbar-nav>li.nav-item>a.nav-link:focus.active:hover {
    background-color: transparent
}

@media (min-width: 992px) {
    #mainNav.navbar-shrink .navbar-nav>li.arrow>a.arrow1,
    #mainNav.navbar-shrink .navbar-nav>li.arrow>a.arrow1:focus {
        color: #3bd23b;
    }
}

@media (min-width: 992px) {
    #mainNav .navbar-nav>li.arrow>a.arrow1,
    #mainNav .navbar-nav>li.arrow>a.arrow1:focus {
        color: blue;
    }
}

#mainNav .navbar-brand {
    font-weight: 700;
    font-size: 20px;
    color: white;
}

.alert {
    position: fixed!important;
    bottom: 5px!important;
    left:2%!important;
    width: 96%!important;
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    width:100%; 
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;    
}

.close {
    text-decoration: none;
}